shapely==2.0.1
scikit-image==0.21.0
imgaug==0.4.0
pyclipper==1.3.0.post5
lmdb==1.4.1
tqdm==4.66.1
numpy==1.26.0
visualdl==2.5.3
rapidfuzz==3.3.1
opencv-python==4.6.0.66
opencv-contrib-python==4.6.0.66
cython==3.0.2
lxml==4.9.3
premailer==3.10.0
openpyxl==3.1.2
attrdict==2.0.1
PyMuPDF==1.20.2
Pillow==10.0.1
pyyaml==6.0.1
